<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    {% block extracss %}{% endblock %}
    </head>

    <body>
      {% block body %}
      {% block content %}{% endblock %}

    <input type="hidden" id="current-page" value="{% block currentpage %}{% endblock %}"/>
    {% block beforescripts %}{% endblock %}
    <script src="{{ static('js/jquery.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            }
        });
    </script>

    {% block extrascripts %}{% endblock %}
    {% endblock %}
  </body>
</html>
