{% extends "mainsite/base.jinja" %}
{% block extracss %}
{% endblock %}
{% block content %}
{% include 'mainsite/header.jinja' %}
<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	{% if form.non_field_errors() %}
            {% for error in form.non_field_errors() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
    	{% endif %}
		{% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>{{ field.name }} - {{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
		<form role="form" method="POST">
		{% csrf_token %}
			<fieldset>
				<h2>Please Sign In</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
				</div>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
				

				<hr class="colorgraph">

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<input type="hidden" name="next" value="{{ next }}" />
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>
{% endblock %}
{% block extrascripts %}
    <script>
    	$(document).ready(function() {
    	});
    </script>
{% endblock %}